{% extends 'base.html' %}

{% block content %}
<div>
  <form class="" action="/gardens">
    <input name="q" class="form-control" placeholder="Search Gardens" id="search">
    <button class="btn btn-info">
      Search</span>
    </button>
  </form>
  
</div>
<div style="background: rgba(255, 255, 255, 0.3);">
<div class="row full-width" style="margin-top: 20px;">
  <div class="col-9">
    <ul class="user-stats nav nav-pills">
    <li>
    <h1>{{ garden.name }}</h1>
    {% if g.user.id == garden.user.id %}
      <li>
      <a href="/gardens/{{ garden.id }}/edit"><i class="far fa-edit"></i></a>
      </li>
    {% endif %}
    </li>
      <li class="stat">
        <p class="small">Plants</p>
        <h4>
          <a href="/users/{{ garden.user_id }}">{{ plants | length }}</a>
        </h4>
      </li>
      <li class="stat">
        <p class="small">Created By</p>
        <h4><a href="/users/{{ garden.user.id }}">{{  garden.user.username }}</a></h4>
      </li>
      <li>
    {# <div class="justify-content-end"> #}
      {% if g.user.id == garden.user.id %}
      {# <li>
      <a href="/gardens/{{ garden.id }}/edit" class="btn btn-success"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
      </li> #}
      <li class="stat">
      <a href="/plants" class="btn btn-success">Add Plant</a>
      </li>
      <li class="stat">
        <form method="POST" action="/gardens/delete" class="form-inline">
          <button class="btn btn-danger ml-2">Delete Garden</button>
        </form>
      </li>
      {% endif %}
    {# </div> #}
    </li>
    </ul>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <ul>
      {% for plant in plants %}
      <li>
        <h4>
          <img class="card-image user-cards" src="/static/images/plant-default.jpg">
          <a href="/plants/{{ plant.id }}">{{ plant.name }}</a>
        </h4>
      </li>

      {% endfor %}
    </ul>
  </div>
</div>
</div>

{% endblock %}
