{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center" >
  <div class="col-md-7 col-lg-5" style="margin-top: 50px;">
    <h1>Welcome to Plantify</h1>
  </div>
</div>
{% if g.user %}
  <div class="row"> 
    <div class="input-group mb-2 justify-content-end" style="margin-top: 150px;">
      <div class="col-md-11">
        <form method="POST" id="search-form">
          {{ form.hidden_tag() }}
        
          {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
          {% endfor %}
        </form>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" style="margin-left: 5px;">Search</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-left">
      <h3>Recent Gardens:</h3>
      <hr>
  </div>

{% else %}
<div class="row"> 
    <div class="input-group mb-2 justify-content-end" style="margin-top: 125px;">
      <div class="col-md-10">
        <form method="POST" id="search-form">
          {{ form.hidden_tag() }}
        
          {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
          {% endfor %}
        </form>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" style="margin-left: 5px;">Search</button>
      </div>
    </div>
  </div>
  <div class="">
    {# <div class="col-md-7 col-lg-5"> #}
    <div class="row justify-content-md-center" style="margin-top: -30px;">
      <div class="col-md-7 col-lg-5" style="margin-top: 100px;">
        <h4>New to Plantify?</h4>
        <p>Sign up now to create your own garden!</p>
        <a href="/signup" class="btn btn-success">Sign up</a>
      </div>
    </div>
  {# </div> #}
  </div>
{% endif %}

{# <div class="row justify-content-md-left">
  <h3>Recent Gardens:</h3>
  <hr>
</div> #}
<div class="row" style="margin-top: 90px;">
  {% for garden in g.user.gardens %}
  <div class="col card border-light">
    <div class="card-body">
      <div class="position-relative">
        <img class="img-thumbnail" src="{{ garden.image_url }}">
        <a href="/gardens/{{ garden.id }}">{{ garden.name }}</a>
        <small><span class="text-muted">{{ garden.created_at.strftime('%d %B %Y') }}</span></small>
      </div>
    </div>
  </div>
  {# {% if loop.length <= 3 and loop.index %}
  <div class="col">
  </div>

  {% endif %} #}
  {% endfor %}
  {# {% if len(g.user.gardens) == 1 %}

  {% endif %} #}
</div>

{# </div> #}
{% endblock %}
